<div class="container">
  <h1 class="mt-5">
    <%- title %>
  </h1>
  <p class="color-adduOrange">Change or update the user details, username, and password.</p>

  <table class="table table-hover table-bordered">
    <thead class="bg-addu">
      <tr>
        <th class="d-none">Id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Username</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="d-none">1</td>
        <td>Bob Builder</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <ul class="nav nav-tabs mt-4 pt-3" id="myTab" role="tablist">
    <li class="nav-item p">
      <a class="nav-link active" id="userDetails-tab" data-toggle="tab" href="#userDetails" role="tab"
        aria-controls="userDetails" aria-selected="true">User Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="username-tab" data-toggle="tab" href="#username" role="tab" aria-controls="username"
        aria-selected="false">Username</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password"
        aria-selected="false">Password</a>
    </li>
  </ul>
  <!-- User Details Tab -->
  <div class="tab-content border-left border-right border-bottom" id="myTabContent">
    <div class="tab-pane fade show active p-4" id="userDetails" role="tabpanel" aria-labelledby="userDetails-tab">
      <form action="" method="post">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstName">
                First Name
              </label>
              <input type="text" class="form-control" id="firstName" name="firstName">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastName">
                Last Name
              </label>
              <input type="text" class="form-control" id="lastName" name="lastName">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="contactNumber">
                Contact Number
              </label>
              <input type="text" class="form-control" id="contactNumber" name="contactNumber">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">
                Email address
              </label>
              <input type="text" class="form-control" id="email" name="email">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="address">
                Address
              </label>
              <input type="text" class="form-control" id="address" name="address">
            </div>
          </div>
        </div>

        <input type="submit" class="btn bg-adduOrange" value="   Save   ">
      </form>
    </div>

    <!-- Username Tab -->
    <div class="tab-pane fade p-4" id="username" role="tabpanel" aria-labelledby="username-tab">
      <form action="" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="oldUsername">
                Old Username
              </label>
              <input type="text" class="form-control" id="oldUsername" name="oldUsername" value="change me later"
                disabled>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="newUsername">
                New Username
              </label>
              <input type="text" class="form-control" id="newUsername" name="newUsername">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="confirmUsername">
                Confirm Username
              </label>
              <input type="text" class="form-control" id="confirmUsername" name="confirmUsername">
            </div>
          </div>
        </div>

        <input type="submit" class="btn bg-adduOrange" value="   Save   ">
      </form>
    </div>

    <!-- Password Tab -->
    <div class="tab-pane fade p-4" id="password" role="tabpanel" aria-labelledby="password-tab">
      <form action="" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="newPassword">
                New Password
              </label>
              <input type="password" class="form-control" id="newPassword" name="newPassword">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="confirmPassword">
                Confirm Password
              </label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
            </div>
          </div>
        </div>

        <input type="submit" class="btn bg-adduOrange" value="   Save   ">
      </form>
    </div>
  </div>
</div>