<%- include('./partials/_top') %>

<div class="jumbotron text-center">
  <h1><%- title %></h1>
  <p>Chuchuahu</p>
</div>
<!-- table -->
<div class="container">
  <table class="table">
    <thead class="bg-addu">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Databasechuchu</th>
        <th scope="col">Tag</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- end table -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Positive</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Negative</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
      </p>
    </div>
    <div class="col-sm-4">
      <h3>False Positive</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...
      </p>
    </div>
  </div>
</div>

<%- include('./partials/_bottom') %>
