<%- include('./partials/_top_user') %>

<div class="container">
    <div class="text-center" style="margin-top: 11rem; font-size: 30pt; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <i>Choose a form to fill out:</i>
    </div>
    <div class="text-center" style="margin-top: 2rem; margin-bottom: 12rem;">
        <a href="/contactTracingForm" class="btn btn-outline-adduforms" style="width: 20rem; height: 10rem; line-height: 4rem; margin-left: 1rem; margin-right: 1rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            Contact Tracing Form
        </a>
        <div class="d-md-block d-lg-none m-4"></div>
        <a href="/monitoringForm" class="btn btn-outline-adduforms" style="width: 20rem; height: 10rem; line-height: 8rem; margin-left: 1rem; margin-right: 1rem; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            Monitoring Form
        </a>
    </div>
</div>

<%- include('./partials/_bottom') %>