<%- include('./partials/_top') %>

  <div class="container">
    <!-- <div class="logo mt-3">
      <img class="rounded" src="images/notext/defaultTransparent.png" alt="" />
    </div> -->
    <img class="rounded w-100" src="images/horizontal/defaultWhiteBG.jpg" alt="" />
    <div class="row mt-1">
      <div class="col-12">
        <div class="text-center">
          <h3>Welcome to BlueDu Tracer Dashboard!</h3>
          <p>
            BluDu Tracer Dashboard is the newly-setup website-dashboard by a pair of students in line with 
            Ateneo de Davao University's college clinic unit. It serves as the
            official monitoring dashboard of the BlueDu Tracer Application for the
            College Clinic of Ateneo. It features an automated and more simplified
            theme that is easy to use and handle for the admin. It is our hope that this website
            will help support the clinic staffs in monitoring data from the application especially in this time of
            pandemic.
          </p>
        </div>
      </div>

      <!-- <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Something here</h3>
          <p class="card-text">Nothing here</p>
          <a href="#" class="btn btn-primary btn-block">Something here</a>
        </div>
      </div>
    </div> -->
    </div>
  </div>

  <%- include('./partials/_bottom') %>