<%- include('./partials/_top') %>

<div class="container">
  <% if (message) { %>
  <h4><%= message %></h4>
  <% } %>

  <div class="logo mt-3">
    <img class="rounded" src="images/SealMoodleDaigler.png" alt="" />
  </div>
  <img class="rounded w-100" src="images/AdDUPool.jpg" alt="" />
  <div class="row mt-3">
    <div class="col-12">
      <div class="text-center">
        <h3>Welcome to BlueDu Trace Dashboard!</h3>
        <p>
          BluDu Trace Dashboard is the newly-setup Website-Dashboard of
          Ateneo de Davao University's college clinic unit. It serves as the
          official monitoring dashboard of our BlueDu Trace Application for the
          College Clinic of Ateneo. It features an automated and more simplified
          theme that is easy to use and handle for the admin. It is our hope that this website
           will help support our clinic staffs in monitoring data from the application especially in this time of pandemic.
        </p>
      </div>

      <!-- <div class="media border rounded mt-1">
        <img
          class="align-self-start mr-3"
          src="https://picsum.photos/50"
          alt="Generic placeholder image"
        />
        <div class="media-body">
          <a class="text-dark" href="#">
            <h5 class="mt-0">
              Request to create a new course (for faculty use only)
            </h5>
          </a>
          Please use the following standard course naming convention:
          <br />
          Course full name: <strong>AIS Description AIS Code</strong>
          <br />
          &nbsp; &nbsp; &nbsp; Example 1: Advanced Ethics
          <strong>8-403</strong>
          <br />
          &nbsp; &nbsp; &nbsp; Example 2: Advanced Ethics
          <strong>8-112 8-113 8-114</strong> (for multi-section course)
          <br />
          Course short name: <strong>AIS Code AIS Subject</strong>
          <br />
          &nbsp; &nbsp; &nbsp; Example 1:
          <strong>8-403</strong> PH 140
          <br />
          &nbsp; &nbsp; &nbsp; Example 2:
          <strong>8-112 8-113 8-114</strong> PH 140 (for multi-section course)
        </div>
      </div>

      <div class="media border rounded mt-1">
        <img
          class="align-self-start mr-3"
          src="https://picsum.photos/50"
          alt="Generic placeholder image"
        />
        <div class="media-body">
          <a class="text-dark" href="#">
            <h5 class="mt-0">
              Migrating to Daigler20 - A Rough Guide (for faculty)
            </h5>
          </a>
          <p>
            We would like to thank Ms. Lady Margrett Cagape (SBG-FInance) for
            preparing this rough guide for the "migrants" from daigler to
            daigler20. To view, click on the title above or the PDF icon to its
            left.
          </p>
        </div>
      </div>

      <hr />

      <h3 class="text-center">Site announcements</h3>
      <p>(There are no discussion topics yet in this forum)</p> -->
    </div>

    <!-- <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Something here</h3>
          <p class="card-text">Nothing here</p>
          <a href="#" class="btn btn-primary btn-block">Something here</a>
        </div>
      </div>
    </div> -->
  </div>
</div>

<%- include('./partials/_bottom') %>
