<%- include('./partials/_top_admin') %>

  <div class="container">
    <!-- <div class="logo mt-3">
      <img class="rounded" src="images/notext/defaultTransparent.png" alt="" />
    </div> -->
    <img class="rounded w-100" src="images/horizontal/dashboardBG.png" style="border-radius: 30%;" alt="" />
    <div class="row mt-3">
      <div class="col-12">
        <div class="text-center">
          <h3>Welcome to <span style="color: #08228d;">Blue</span><span style="color: #f98500">Du</span> Tracer Dashboard!</h3>
          <p>
            <span style="color: #08228d;">Blue</span><span style="color: #f98500">Du</span> Tracer Dashboard serves as the
            official monitoring dashboard of the <span style="color: #08228d;">Blue</span><span style="color: #f98500">Du</span> Tracer Application. It features an automated and more simplified
            theme that is easy to use and handle for the admin. It is our hope that this website
            will help support the clinic staffs in monitoring data from the application especially in this time of
            pandemic.
          </p>
        </div>
      </div>

      <!-- <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Something here</h3>
          <p class="card-text">Nothing here</p>
          <a href="#" class="btn btn-primary btn-block">Something here</a>
        </div>
      </div>
    </div> -->
    </div>
  </div>

  <%- include('./partials/_bottom') %>